.root{
	-fx-background-color: #383838;
	-fx-font-size: 16pt;
}

#fondo_menus{
	-fx-background-image: url("images/background.jpg");
    -fx-background-repeat: no-repeat;   
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
}

#fondo_batalla{
	-fx-background-image: url("images/background_battle.jpg");
    -fx-background-repeat: no-repeat;   
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
}

.button{
	-fx-background-color: transparent;
	-fx-text-fill: #ffffff;
	-fx-font-size: 25pt;
}

.button:hover{
	-fx-text-fill: linear-gradient(#dc9656, #ab4642);
	-fx-cursor: hand;
}

.GridPane{
	-fx-button-fill: #ffffff;
	-fx-align-content: center;
}

#creditos{
	-fx-text-fill: #ffffff;
	-fx-background-image: url("images/creditos.jpg");
    -fx-background-repeat: no-repeat;   
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
}

#comoJugar{
	-fx-text-fill: #ffffff;
	-fx-background-image: url("images/como_jugar.jpg");
    -fx-background-repeat: no-repeat;   
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
}

#comoJugarContinuacion{
	-fx-text-fill: #ffffff;
	-fx-background-image: url("images/como_jugar2.jpg");
    -fx-background-repeat: no-repeat;   
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
}

#nombreJugador{
	-fx-text-fill: #ffffff;
}

#fondo_algomons{
	-fx-background-color: rgba(0, 0, 0, 0.5); 
    -fx-background-radius: 10;
}

#fondo_algomons:hover{
	-fx-border-color: rgba(15,155,0,5);
	-fx-border-radius:10;
}

#fondo_algomons:disabled{
	-fx-background-color: rgba(0, 0, 0, 1);
}

#fondo_algomons > Label{
	-fx-text-fill: #ffffff;
}

#consola{
	-fx-background-color: rgba(0, 0, 0, 0.7);
}

.text-area{
	-fx-font-family: Consolas;
    -fx-text-fill: #ffffff;
    -fx-background-color: rgba(0,0,0,0);
}

.text-area .content{
    -fx-background-color: transparent;
    -fx-cursor: DEFAULT;
}

.text-area .scroll-pane{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.BorderPane > HBox{
	-fx-aling-content: right;
}

#charmander{
	-fx-background-image: url("images/Pokemons/charmander.gif");
	-fx-background-repeat: no-repeat;   
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
}

#squirtle{
	-fx-background-color: transparent;
	-fx-background-image: url("images/Pokemons/squirtle.gif");
	-fx-background-repeat: no-repeat;   
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
}

#bulbasaur{
	-fx-background-color: transparent;
	-fx-background-image: url("images/Pokemons/bulbasaur.gif");
	-fx-background-repeat: no-repeat;   
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
}

#jigglypuff{
	-fx-background-color: transparent;
	-fx-background-image: url("images/Pokemons/jigglypuff.gif");
	-fx-background-repeat: no-repeat;   
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
}

#chansey{
	-fx-background-color: transparent;
	-fx-background-image: url("images/Pokemons/chansey.gif");
	-fx-background-repeat: no-repeat;   
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
}

#rattata{
	-fx-background-color: transparent;
	-fx-background-image: url("images/Pokemons/rattata.gif");
	-fx-background-repeat: no-repeat;   
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
}

StackPane > .Label{
	-fx-align-content: TOP_CENTER;
	-fx-text-alignment: TOP_CENTER;
}

#nombreAlgomonOponente{
	-fx-text-fill: #ffffff;
}

#opcionesJugador{
	-fx-background-color: rgba(0, 0, 0, 0.5); 
    -fx-background-radius: 10;
}

.menu-button{
	-fx-padding: 10 10 10 10;
	-fx-background-color: transparent;
}

.menu-button .label{
	-fx-text-fill: #ffffff;
	-fx-font-size: 25pt;
}

.menu-button .label:hover{
	-fx-text-fill: linear-gradient(#dc9656, #ab4642);
}

.menu-item .label {
    -fx-text-fill: white;
}

.menu-item:focused {
     -fx-background-color: transparent;
}

.menu-item:focused .label {
    -fx-text-fill: darkgreen;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: black;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
/*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}

#tituloOpcionJugadorActivo{
	-fx-text-fill: #ffffff;
	-fx-background-color: darkgrey;
	-fx-font-size: 20pt;
	-fx-background-size: 100% 100%;
	-fx-background-position: center;
}

#ganador{
	-fx-background-image: url("images/ganador.png");
    -fx-background-repeat: no-repeat;   
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
}

#nombreGanador{
	-fx-text-fill: #ffffff;
	-fx-font-size: 40pt;
}